#navbar {
  ul {
    display: flex;

    li {
      flex: 1 1 100%;
      display: flex;
      text-align: center;

      a {
        flex: 1 1 100%;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border: 1px solid $black;
        text-decoration: none;
        background-color: $highlight;
        color: $white;

        &:visited {
          background-color: $highlight;
          color: $white;
        }

        &:focus {
          background-color: $highlight;
          color: $white;
          border: 3px solid $flashy;
        }

        &:hover {
          background-color: darken($highlight, 5%);
          color: $white;
        }

        &:active {
          background-color: $highlight;
          color: $white;
        }
      }
    }
  }
}

.active {
  background-color: lighten($highlight, 10%) !important;;
  color: $white;

}

.animated-icon2 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}

.animated-icon2 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}


.animated-icon2 span {
  background: $black;
  color: inherit;
}


.animated-icon2 span:nth-child(1) {
  top: 0;
}

.animated-icon2 span:nth-child(2), .animated-icon2 span:nth-child(3) {
  top: 10px;
}

.animated-icon2 span:nth-child(4) {
  top: 20px;
}

.animated-icon2.open span:nth-child(1) {
  top: 11px;
  width: 0;
  left: 50%;
}

.animated-icon2.open span:nth-child(2) {
  transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
  transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
  top: 11px;
  width: 0;
  left: 50%;
}
