@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pavanam&display=swap');

$background : #faffeb;
$highlight : #03751B;
$flashy : #08FF00;
$black : black;
$white : white;

$fontsize : 18px;
$lineheight : 27px;

$font-family-sans-serif : 'Pavanam', sans-serif;
$ff-titel : 'Cinzel', serif;

$dark : lighten($black, 80%);
$success : darken($highlight, 5%);
